$background_color: black;
$color: #fafafa;
$section_padding_top: 3em;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: $background_color;
    color: $color;  
    font-family: sans-serif, helvetica;
}


section{
    padding-top: $section_padding_top;
    .container{
        h1{
            font-weight: bold;
            text-align: center;
            font-size: 2em;
            border-bottom: 1px solid orange;            
        }
    }
}
@media screen and (min-width: 1024px){
    section{
        .container{
            h1{
                border: none;
            }
        }
    }
}

/*with slider*/
// .Hero{
//     max-height: 80vh;
//     .slider{
//         .carousel-item{            
//             background: linear-gradient(rgba(0,0,0.5), rgba(0,0,0,0.5));
//         }
//         .carousel-caption{
//             top: 50%;
//             transform: translateY(-50%);
//             bottom: initial !important;
//         }
//         .carousel-caption h5{
//             color: #fff;
//             font-size: 42px;
//         }
//     }
// }
.Hero{
    padding-top: 0px;
    height: 92vh;    
    background-image: linear-gradient(rgba(102, 97, 27, 0.8), rgba(0,0,0,0.9)), url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text{
        padding: 0px 12px;
        h1{
            font-size: 2.5em;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;              
        }
        p{
            text-align: center;
            font-size: 1.5em;
            font-style: italic;
        }
    }
}

.About{
    .container{
        .about_us{
            .about{
                text-align: center;
                h1{
                    font-size: 1.2em;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    border-bottom: unset;
                }
            }
        }
    }
}
@media screen and (min-width:1024px) {
    .About{
        .container{
            .about_us{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 3%;
                .about{
                    h1{
                        border-bottom: 1px solid #efefef;
                    }
                }
            }
        }
    }
}

.Services{
    .container{
        p{
            text-align: center;
        }
        .services_wrapper{
            .service{
                width: 90%;
                margin: auto;
                .img{                    
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                .text{
                    h1{
                        font-size: 1.2em;
                        letter-spacing: 1px;
                        border-bottom: unset;
                    }
                }
            }            
        }
    }
}
@media screen and (min-width: 1024px) {
    .Services{
        .container{
            .services_wrapper{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                .service{
                    border: 1px solid white;
                }
            }
        }
    }
}

.Contact{
    .container{
        .contacts{
            h1{
                text-transform: uppercase;
                font-size: 2.1em;
                font-weight: bold;
                font-family: helvetica;
                text-align: left;
            }
            .socials{
                ul{
                    list-style: none;
                    li{
                        margin: 3% 0px;
                        background: #efefef;
                        color: #000;
                        border-radius: 32px;
                        padding: 8px 32px;
                        width: 100%;
                    }
                }
            }            
        }
        .contact_image{
            display: none;
        }
    }
}
@media screen and (min-width: 1024px){
    .Contact{
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr;    
            .contacts{
                .socials{
                    ul{
                        li{
                            width: 60%;
                            font-size: 1.2em;
                        }
                    }
                }
            }
            .contact_image{
                text-align: center;
                img{
                    height: 100%;
                    width: 80%;
                }
            }
        }
    }
}

.Footer{
    border-top: 1px solid #efefef;
    padding: 12px 0px;
}